.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }


  .image {
    width: 100%;
    max-width: 200px;
    height: auto;
  }